{% extends 'daemon/base.jinja' %}
{% block content %}
<div class='container-fluid'>
    <div class='jumbotron'>
        <h1>Under construction</h1>
        <blockquote class='text-right'>"Z tego nic nie będzie, choć powstanie."
        <footer>Lech Roch Pawlak</footer></blockquote>
    </div>
    <p><a href="{{ url('front:help') }}">HELP</a></p>
</div>
{% endblock %}